<% layout('layout') %><!DOCTYPE html>
  <ul class="list list-group">
    <li class="list-group-item"> 標題：<%- content.title %></li>
    <li class="list-group-item"> 建立日期：<%- content.time %></li>
    <li class="list-group-item"> 內容：<%- content.content %></li>
  </ul>
<button  class="send btn btn-primary" onclick="window.location.href='/'">Back</button>
